.accordion-wrap {
  margin-bottom: 20px;
}

.accordion {
  & + & {
    margin-top: 10px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
      opacity: 0.8;

      .accordion__btn {
        svg {
          transform: rotate(180deg);
        }
      }

      & + .accordion__content {
        max-height: 1000px;
      }
    }

    .accordion__title {
      margin-bottom: 0;
      border: none;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__btn {
    width: 17rem;
    height: 7rem;
    flex: none;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $base-color;
    border-radius: 24px;
    svg {
      transition: $base-transition;
    }
  }

  &__title {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;

    &--more {
      &:after {
        position: absolute;
        content: '+';
        right: 20px;
      }

      &.active {
        &:after {
          content: '-';
        }
      }
    }

    &.active {
      & + .accordion__content {
        max-height: 1000px;
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: white;
    width: calc(100% - 4px);
    margin: 0 auto;
  }

  &__descr {
    padding: 6.2rem 0 4rem;
  }

  .accordion {
    padding-left: 10px;
  }

  &__wrap {
    border-radius: 24px;
    overflow: hidden;
  }

  #playerOne {
    min-height: 480px !important;
  }
}
