.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: $white;
  border-radius: 24px;
  width: 100%;

  
  &.primary {
    max-width: 38rem;
    height: 7rem;
    background-color: $base-color;
    margin-left: auto;
    margin-right: auto;
    @include media("<=phone"){
      max-width: 100%;
    }
  }

  &.secondary {
    max-width: 38rem;
    background-color: $white;
    color: $base-color;
    padding: 25px 38px;
    @include media("<=phone"){
      max-width: 100%;
      width: 100%;
      font-size: 1.4rem;
      padding: 22px 18px;
    }
  }

  &.tertiary {
  }

  &.disabled {
  }
}
