.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: $white;
  border-radius: 24px;
  width: 100%;

  &.primary {
    max-width: 38rem;
    height: 7rem;
    background-color: $base-color;
    margin-left: auto;
    margin-right: auto;
    @include media('<=phone') {
      max-width: 100%;
    }
  }

  &.secondary {
    max-width: 38rem;
    background-color: $white;
    color: $base-color;
    padding: 25px 38px;
    @include media('<=phone') {
      max-width: 100%;
      width: 100%;
      font-size: 1.4rem;
      padding: 22px 18px;
    }
  }

  &.tertiary {
    font-weight: 700;
    font-size: 3.2rem;
    max-width: 20rem;
    width: 100%;
    height: 8rem;
    border-radius: 4rem;
    padding: 2.5rem 3.1rem;
    margin-bottom: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $base-color;
  }

  &.disabled {
  }
}
