.form {
  padding: 5rem 0;

  width: 100%;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 4rem 2.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    // max-width: 38rem;
    // width: 100%;
  }
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    & + & {
      margin-top: 4rem;
    }

    &--check {
      justify-content: center;
      flex-direction: row;
      margin-bottom: 1.2rem;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $form-label;
    margin-bottom: 0.6rem;
    width: 100%;
  }
  &__input {
    border-bottom: 1px solid $black !important;
    font-weight: 600;
    font-size: 18px;
    color: $black;
  }

  &__checkbox {
    position: relative;

    & + & {
      margin-left: 2.4rem;
    }
  }

  &__checkbox-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__checkbox-label {
    color: $black;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #efeeee;
    box-sizing: border-box;
    border-radius: 15px;
    @include media('>=phone') {
      width: 70px;
      height: 70px;
      border-radius: 24px;
    }
  }

  input[type='checkbox']:checked + label {
    border: 1px solid $base-color;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('>=phone') {
      width: 4.5rem;
      height: 4.5rem;
    }

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $base-color;
    display: block;
    margin-bottom: 4rem;
    text-align: center;
  }

  &__img {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      display: block;
    }
  }

  .section-title {
    margin-bottom: 0.5rem;
  }
  .color-base {
    color: $base-color;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  iframe {
    display: block;
    width: 100%;
    height: 22.7rem;
    border-radius: 2.4rem;
    margin: 1.85rem 0 3.4rem;
    border: none;
  }
  .bg-blue {
    background-image: linear-gradient(180deg, #37bbfe 0%, #007dbb 100%);
    border-radius: 50%;
  }

  .mb-45 {
    margin-bottom: 4.5rem;
  }
  .mb-94 {
    margin-bottom: 9.4rem;
  }
}
