.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease;
  display: none;
  &.active {
    display: flex !important;
  }
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 999;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 320px;
  transition: opacity 0.5s ease;
  display: none;

  @include media('>=tablet') {
    max-width: 590px;
  }

  &.active {
    display: block;
    z-index: 999;
    transition: opacity 0.5s ease;
  }

  &::-webkit-scrollbar {
    width: 11px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }

  &--form {
    max-width: 410px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 670px;
  }

  &--quiz {
    max-width: 100%;
    padding: 0 !important;
    height: 100%;
    top: 0 !important;
    transform: translate(0);
    left: 0%;

    .popup__wrap {
      background-color: $bg-color;
      height: 100%;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    min-height: 220px;
    @include media('>=tablet') {
      min-height: 380px;
    }
  }
  &__close {
    position: absolute;
    right: 39px;
    top: 13px;
    z-index: 999;
    @include media('>=tablet') {
      right: 49px;
      top: 23px;
    }
    &:before,
    &:after {
      position: absolute;
      left: 0;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .slide {
    width: 100%;
    height: auto;
    display: grid;
    overflow: hidden;
    border-radius: 2.4rem;
  }

  .slide-items {
    position: relative;
    grid-area: 1/1;
    min-height: 49rem;
    overflow: hidden;
  }

  .slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .slide-nav button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }

  .slide-items > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    width: 100%;
  }

  .slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
    height: 100%;
  }

  .slide-thumb {
    display: flex;
    grid-column: 1 / 3;
    padding: 3.2rem 2.8rem;
  }

  .slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background: #c4c4c4;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
  }

  .slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }

  @keyframes thumb {
    to {
      transform: initial;
    }
  }
}
