.quiz {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2.4rem 3.2rem;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    height: 480px;
    overflow-y: scroll;
    @include media('>=phone-md') {
      height: 580px;
    }
    @include media('>=phone') {
      height: 680px;
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.4rem;
  }

  &__step {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 14px;
    color: $secondary-color;
  }

  &__progressbar {
    width: 100%;
    height: 4px;
    position: relative;
    background-color: $white;
    border-radius: 2px;

    span {
      display: block;
      height: 100%;
      background-color: $base-color;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
    }
  }

  &__text {
    display: block;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: $base-color;
    text-align: center;
  }

  &__checkbox {
    position: relative;

    & + & {
      margin-top: 1rem;
    }
  }

  &__checkbox-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__checkbox-label {
    color: $black;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    background-color: $white;
    padding: 0.6rem 2.4rem 0.6rem 0.6rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;

    display: flex;
    align-items: center;
    @include media('>=phone') {
      max-width: 768px;
      width: 100%;
      border-radius: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/arrow-r.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.2rem;
      height: 1.2rem;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      @include media('>=phone') {
        right: 1.2rem;
      }
      @include media('>=tablet') {
        right: 0.9rem;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    overflow: hidden;
    margin-right: 2.4rem;
    width: 11.2rem;
    height: 11.2rem;

    img {
      width: 100%;
      display: block;
    }

    picture {
      width: 100%;
      height: 100%;
    }
  }

  input[type='radio']:checked + label {
    border: 1px solid $base-color;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    padding: 0 2.4rem;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      height: 130px;
      width: 100%;
      background-image: linear-gradient(180.6deg, rgba(246, 246, 249, 0) 0.52%, #f6f6f9 50.25%);
      left: 50%;
      top: -110px;
      transform: translateX(-50%);
      z-index: -1;
    }

    .secondary {
      max-width: 12rem;
      margin-right: 2.4rem;
      height: 7rem;
      color: $black;
    }

    .primary {
      color: $white;
      max-width: 100%;
    }
  }

  .quiz-title {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  .form__checkbox {
    position: relative;

    & + & {
      margin-left: 2.4rem;
    }
  }

  .form__checkbox-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .form__checkbox-label {
    color: $black;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #efeeee;
    box-sizing: border-box;
    border-radius: 15px;
    @include media('>=phone') {
      width: 70px;
      height: 70px;
      border-radius: 24px;
    }
  }

  input[type='checkbox']:checked + label {
    border: 1px solid $base-color;
  }

  .mb-45 {
    margin-bottom: 2rem;
  }
  .mb-94 {
    margin-bottom: 2rem !important;
  }

  .color-base {
    color: $base-color;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}
.quizScreen {
  width: 100%;
}
