.quiz {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    padding: 8rem 2.4rem 3.2rem;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.4rem;
  }

  &__step {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 14px;
    color: $secondary-color;
  }

  &__progressbar {
    width: 100%;
    height: 4px;
    position: relative;
    background-color: $white;
    border-radius: 2px;

    span {
      display: block;
      height: 100%;
      background-color: $base-color;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
    }
  }

  &__text {
    display: block;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: $base-color;
  }


  &__checkbox {
    position: relative;

    & + & {
      margin-left: 2.4rem;
    }
  }

  &__checkbox-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__checkbox-label {
    color: $black;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #efeeee;
    box-sizing: border-box;
    border-radius: 15px;
    @include media('>=phone') {
      width: 70px;
      height: 70px;
      border-radius: 24px;
    }
  }

  input[type='checkbox']:checked + label {
    border: 1px solid $base-color;
  }






  .quiz-title {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}
