.slide {
    max-width: 380px;
    margin: 20px auto;
    display: grid;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  }
  
  .slide-items {
    position: relative;
    grid-area: 1/1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .slide-nav button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  
  .slide-items > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
  }
  
  .slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
  }
  
  .slide-thumb {
    display: flex;
    grid-column: 1 / 3;
  }
  
  .slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }
  
  @keyframes thumb {
    to {
      transform: initial;
    }
  }
//   
  .swiper-video-button-prev{
    height: 85px;
    width: 85px;
    border-radius: 45px;
    background-color: #3c3c3cbf;
    position: absolute;
    bottom: 504px;
    z-index: 1;
    left: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i{
        color: $white;
        font-size: 27px;
    }
  }
  .swiper-video-button-next{
    height: 85px;
    width: 85px;
    border-radius: 45px;
    background-color: #3c3c3cbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i{
        color: $white;
        font-size: 27px;
    }
  }
  .swiper-video-pagination{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .swiper-pagination-bullet{
          margin-right: 12px;
          &:last-child{
            margin-right: 0;
          }
      }
  }