.js-tab-slider {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    width: 100%;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.js-tab-sliderTwo {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.js-tab-sliderThree {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.js-tab-sliderFour {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.js-tab-sliderFive {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.js-tab-sliderSix {
  position: relative;
  overflow: hidden;
  height: 420px;
  .swiper-slide {
    min-height: 420px;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

//
.swiper-video-button-prev {
  height: 85px;
  width: 85px;
  border-radius: 45px;
  background-color: #3c3c3cbf;
  // position: absolute;
  // bottom: 504px;
  z-index: 1;
  // left: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    color: $white;
    font-size: 27px;
  }
}
.swiper-video-button-next {
  height: 85px;
  width: 85px;
  border-radius: 45px;
  background-color: #3c3c3cbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    color: $white;
    font-size: 27px;
  }
}
.swiper-video-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 26px;
  .swiper-pagination-bullet {
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $base-color;
  }
}

.swiper-withdrawable-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 26px;
  .swiper-pagination-bullet {
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $base-color;
  }
}
.swiper-reviews-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 26px;
  .swiper-pagination-bullet {
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $base-color;
  }
}
.js-reviews-slider {
  .swiper-slide {
    // padding: 0 0 40px;
    .swiper-slide__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 24px;
      background: #ffffff;
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
      border-radius: 24px;
      overflow: hidden;
      min-height: 460px;
    }
  }
}
