.tabs {
  &__header {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    margin-bottom: 4rem;
    @include media('>=phone-lg') {
      justify-content: center;
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__btn {
    color: $secondary-color;
    padding: 0 0 0.9rem;
    transition: $base-transition;
    font-size: 1.8rem;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
    position: relative;

    &:hover {
    }

    & + & {
      margin-left: 2.4rem;
    }

    &.active {
      color: $base-color;
      &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 4px;
        background-color: $base-color;
        border-radius: 2px;
        width: 100%;
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}
