.tabs {
  &__header {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 4rem;

    &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0;
      }
  }

  

  &__btn {
    color: $secondary-color;
    padding: 4px;
    transition: $base-transition;
    font-size: 1.8rem;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 32px solid transparent;

    &:hover {
    }

    & + & {
      margin-left: 2.4rem;
    }

    &.active {
      color: $base-color;
      border-bottom: 3px solid $base-color;
      border-radius: 2px;
    }
  }

  &__content {
    display: none;
    padding: 16px;
    font-size: 16px;

    &.active {
      display: block;
    }
  }
}
