.attention-sections{
    padding-top: 80px;
}
.attention{
    &__wrap{
        background: linear-gradient(205.26deg, #FA4A0C 16.03%, #C62127 88.51%);
        border-radius: 24px;
        padding-top: 2.4rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-bottom: 1.4rem;
    }
    .section-title{
        padding-bottom: 1.2rem;
        font-size: 2.4rem;
        line-height: 1.25;
        color: $white;
        text-transform: initial;
    }
    .base-text{
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.67;
        color: $white;
        padding-bottom: 8px;
        @include media("<=phone-md"){
            font-size: 1.6rem;
        }
    }
    &__symbols{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.25;
        text-align: center;
        color: $white;
        opacity: 0.3;
        overflow: hidden;
        height: 30px;
    }
}