.buttons-sections {
  position: fixed;
  bottom: 12px;
  z-index: 98;
  left: 50%;
  transform: translateX(-50%);
}
.buttons {
  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__calculation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    height: 7rem;
    max-width: 184px;
    width: 100%;
    background-color: $calculation;
    border-radius: 24px 24px 24px 0px;
    margin-right: 12px;
    cursor: pointer;

    span {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 139%;
      color: $white;
      text-align: center;
    }
    &__img {
      margin-left: 21px;
      width: 46px;
      height: auto;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  &__telegramm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: $question;
    border-radius: 24px 24px 0px 24px;
    height: 7rem;
    max-width: 184px;
    width: 100%;

    span {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 139%;
      text-align: center;
      color: $white;
    }
    &__img {
      margin-left: 21px;
      width: 46px;
      height: auto;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
