.intro-sections{
    background: linear-gradient(180deg, #C62127 0%, #FF490E 100%);
    border-radius: 0px 0px 24px 24px;
    padding-top: 112px;
    padding-bottom: 40px;
    overflow-x: hidden;
}
.intro{
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-title{
        margin-bottom: 19px;
    }
    &__text{
        color:$white;
        z-index: 1;
        
    }
    &__img{
        // width: 603px;
        width: 404px;
        margin-top: -52px;
        left: 12px;
        margin-bottom: -54px;
        position: relative;
        z-index: 0;
    }
    &__btn{
        z-index: 1;
        margin-top: 28px;
        @include media("<=phone"){
            width: 100%;
        }
    }
}