.masterscall-sections{
    margin-top: 80px;
}
.masterscall{
    &__wrap{
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
        border-radius: 24px;
    }
    &__img{
        img{
            width: 100%;
            display: block;
        }
    }
    .section-title{
        padding-top: 32px;
        line-height: 1.38;
    }
    &__form{
        margin-top: 22px;
        &__title{
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.4;
            text-align: center;
            text-transform: uppercase;
            margin-top: 38px;
            margin-bottom: 39px;
            span{
                color:$base-color;
            }
        }
        .form{
            padding-top: 0;
            padding-bottom: 0;
            &__wrap{
                box-shadow: none;
                border-radius:none;
                padding-top: 0;
                // padding-bottom: 0;
            }
        }
    }
}