.production-sections {
  padding: 6.5rem 0 0;
}

.production {
  &__wrap {
    background: $white;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    padding: 3.2rem 2.4rem;
  }
}
