.production-sections,
.software-sections {
  padding: 6.5rem 0 0;

  .section-title {
    margin-bottom: 4.5rem;
  }
}
.software-sections {
  .section-title {
    margin-bottom: 3.7rem;
  }
}

.production {
  &__wrap {
    background: $white;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    padding: 3.2rem 2.4rem  5.5rem;
    position: relative;
  }

  &__img {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.1rem;

    img {
        width: 100%;
        height: 100%;
        display: block;
      }
  }
  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }
  &__text {
    display: block;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6.5rem;
    color: $production-color;
  }

  &__btn {
    position: absolute;
    width: 17rem;
    height: 7rem;
    flex: none;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $base-color;
    border-radius: 24px;
  }

  #playerOne,
  #playerTwo {
    min-height: 480px !important;
    border-radius: 2.4rem;
  }
  picture {
    width: 100%;
    height: 100%;
    display: block;
  }
}
