.reviews-sections {
  padding: 80px 0;
  .between-text {
    color: $secondary-color;
    max-width: 308px;
    line-height: 1.55;
    margin: 0 auto;
    span {
      &:first-child {
        color: $FEB;
        font-weight: 700;
      }
      &:last-child {
        color: $black;
        font-weight: 700;
      }
    }
  }
}
.reviews {
  overflow: hidden;
  .section-title {
    padding-top: 64px;
    line-height: 1.33;
    span {
      color: $base-color;
    }
  }
  &__wrap {
    // overflow-x: hidden;
  }
  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__img {
      border-radius: 50%;
      overflow: hidden;
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    &__name {
      padding-left: 1.6rem;
      color: $name-color;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
  &__star__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 12px;
    // &__stars{

    // }
    &__dates {
      padding-left: 1.2rem;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.5;
      color: $date;
    }
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $review-text;
    text-align: left;
    padding-top: 8px;
    //
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // line-height: 1.3em;
    // height: 3.9em;
    // &:after{
    //   display: inline;
    //   content: "Ещё";
    //   color:$name-color;
    //   cursor: pointer;
    // }
    //
    .overflow-text {
      display: none;
    }
    .open_full {
      color: $name-color;
      cursor: pointer;
    }
  }
  &__images {
    padding-top: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42.059vw;
    @include media('<=phone') {
      height: 38.059vw;
    }
    @include media('<=phone-md') {
      height: 35.059vw;
    }
    @include media('>tablet') {
      height: 353px;
    }
    picture {
      width: 100%;
      height: inherit;
      border-radius: 12px;
      overflow: hidden;
    }

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }
  .js-reviews-slider {
    .swiper-slide {
      min-height: 460px;
    }
  }

  .js-reviews-images-slider,
  .js-reviewsTwo-images-slider,
  .js-reviewsTree-images-slider,
  .js-reviewsFour-images-slider,
  .js-reviewsFive-images-slider {
    margin-top: auto;
    .swiper-slide {
      padding: 0 !important;
      min-height: auto;
    }
  }
}
