.types-sections {
  padding: 8rem 0 0;

  .section-title {
    margin-bottom: 4rem;
  }

  .types__img {
    min-height: 100%;
    display: flex;

    picture{
        width: 100%;
    }
  }
  .base-text {
    color: $base-color;
    margin-bottom: 3.8rem;
    display: block;
    text-align: center;
  }
}
.types-wrap {
  margin-bottom: 4rem;
}
.types{
    &__text{
        color: $black !important;
    }
    .primary{
        margin-bottom: 6rem;
    }
}