.types-sections {
  padding: 8rem 0 0;

  .section-title {
    margin-bottom: 4rem;
  }

  .types__img {
    min-height: 100%;
    display: flex;

    picture {
      width: 100%;
    }
  }
  .base-text {
    color: $base-color;
    margin-bottom: 3.8rem;
    display: block;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.types-wrap {
  margin-bottom: 4rem;
}
.types {
  &__text {
    color: $secondary-color !important;
  }
  .primary {
    margin-bottom: 6rem;
  }
}
