.video-sections{
    margin-top: 80px;
    .section-title{
        color: $black;
        line-height: 1.33;
    }
}
.video{
    &__wrap{
        position: relative;
        overflow-x: hidden;
        video{
            width: 380px !important;
            height: 671px !important;
            object-fit: cover;
            border-radius: 25px;
            @include media("<=phone-lg"){
                width: 88.786vw !important;
                max-width: 380px !important;
                height: 156.776vw !important;
                max-height: 671px !important;
            }
            @include media("<=phone-md"){
                width: 272px !important;
                height: 481px !important;
            }
        }
        .plyr--video{
            border-radius: 25px;
        }
        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper-video-button-prev{
            position: absolute;
            bottom: 292px;
            z-index: 1;
            right: calc(50% + 104px);
            @include media("<=phone-lg"){
                top: calc(60px + 50%);
                transform: translate(0,-80%);
                left: 0;
                right: auto;
            }
            @include media("<=phone-md"){
                bottom:198px;
            }
        }
        .swiper-video-button-next{
            z-index: 1;
            position: absolute;
            bottom: 292px;
            left: calc(50% + 104px);
            @include media("<=phone-lg"){
                top: calc(60px + 50%);
                transform: translate(0,-80%);
                left: auto;
                right: 0;
            }
            @include media("<=phone-md"){
                bottom:198px;
            }
        }
        video::-webkit-media-controls-start-playback-button {
            display: none!important;
            -webkit-appearance: none;
          }
    }
    &__text-before{
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.2;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        color:$base-color;
    }
    &__btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .primary{
            // max-width: 100%;
        }
    }
    &__text-after{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        color:$secondary-color;
        p:first-child{
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 1.61;
            span{
                color:$black;
                font-weight: 700;
            }
        }
        .base{
            color: $base-color;
            font-weight: 700;
            font-size: 1.8rem;
        }
        .between{
            display: block;
            width: 24px;
            height: 4px;
            background: #C4C4C4;
            border-radius: 2px;
            margin-top: 16px;
            margin-bottom: 16px;
            line-height: 1.5;
        }
    }
}