.video-sections{
    margin-top: 80px;
    .section-title{
        color: $black;
        line-height: 1.33;
    }
}
.video{
    &__wrap{
        position: relative;
        .swiper-video-button-prev{

        }
        .swiper-video-button-next{
            
        }
    }   
    
}