.withdrawable-sections {
  padding-top: 115px;
}
.withdrawable {
  .section-title {
    padding: 0 12px;
    line-height: 1.34;
    @include media('<=phone-md') {
      padding: 0;
    }
  }
  &__wrap {
    overflow-x: hidden;
    .swiper-slide {
      display: flex;
      justify-content: center;
      height: 460px;
      border-radius: 24px;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: 100%;
      }
      picture {
        width: 100% !important;
        height: 100% !important;
        display: block !important;
      }
    }
  }
  &__text {
    margin-top: 60px;
    line-height: 1.67;
    padding: 0 20px;
    @include media('<=phone-md') {
      font-size: 1.5rem;
      padding: 0;
    }
  }
}
.swiper-slide:nth-of-type(2) {
  picture {
    img {
      object-fit: cover;
    }
  }
}
