.main-title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
}

.base-text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 133%;
  text-align: center;
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
