.main-title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 380px;
  color:$white;
  line-height: 1.38;
  @include media("<=phone-md"){
    font-size: 3.4rem;
  }
}

.section-title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  @include media("<=phone-md"){
    font-size: 2.9rem;
  }
}

.base-text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  // line-height: 133%;
  text-align: center;
  &.height133{    
    line-height: 133%;
  }
  &.height167{    
      line-height: 167%;
  }
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
