<form class="form" id="form-contact3" method="POST">
    <div class="form__wrap">
        <div class="form__head">
            <h2 class="section-title mb-45">Сделаем точный расчёт </h2>
            <p class="section-title color-base mb-94"> вашей лестницы</p>
        </div>
        <div class="form__body">
            <div class="form__group">
                <label class="form__name" for="name">Андрей Владимирович</label>
                <input class="form__input" type="text" name="name" id="name" placeholder="Ваше имя и Фамилия" required>
                <span class="form__error-text"></span>
            </div>
            <div class="form__group">
                <label class="form__name" for="email">Ваш номер телефона</label>
                <input class="form__input" type="text" name="phone-ui" id="phone-ui" placeholder="+7 (___) ___-__-__"
                    data-mask="tel" required>
                <span class="form__error-text"></span>
            </div>
            <div class="form__group form__group--check ">
                <div class="form__checkbox">
                    <input id="4" type="checkbox" name="1" class="form__checkbox-input">
                    <label for="4" class="form__checkbox-label">
                        <span class="form__icon">
                            @@include('../svg-icon/tg.html')
                        </span>
                    </label>
                </div>
                <div class="form__checkbox">
                    <input id="5" type="checkbox" name="2" class="form__checkbox-input">
                    <label for="5" class="form__checkbox-label">
                        <span class="form__icon">
                            @@include('../svg-icon/wt.html')
                        </span>
                    </label>
                </div>
                <div class="form__checkbox">
                    <input id="6" type="checkbox" name="3" class="form__checkbox-input">
                    <label for="6" class="form__checkbox-label">
                        <span class="form__icon">
                            @@include('../svg-icon/vb.html')
                        </span>
                    </label>
                </div>
            </div>
            <span class="form__text">Удобней связь через мессенджер?</span>
            <button type="submit" class="btn primary">Получить ссылку</button>
        </div>
    </div>
</form>