<div class="overlay js-overlay"></div>
<div class="popup" data-popup="one-popup">
    <!-- <button type="button" class="popup__close js-popup-close"></button> -->
    <div class="popup__wrap">
        <div data-slide="slide" class="slide">
            <div class="slide-items">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
            </div>
            <nav class="slide-nav">
                <div class="slide-thumb"></div>
                <button class="slide-prev">Prev</button>
                <button class="slide-next">Next</button>
            </nav>
        </div>
    </div>
</div>


<div class="popup" data-popup="two-popup">
    <!-- <button type="button" class="popup__close js-popup-close"></button> -->
    <div class="popup__wrap">
        <div data-slide="slide" class="slide">
            <div class="slide-items">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
                <img src="assets/images/1.jpg" alt="">
            </div>
            <nav class="slide-nav">
                <div class="slide-thumb"></div>
                <button class="slide-prev">Prev</button>
                <button class="slide-next">Next</button>
            </nav>
        </div>
    </div>
</div>
