<form action="" id="Quiz">
    <div class="quiz">
        <div class="quiz__wrap">
            <h2 class="quiz-title">Ваша лестница в 5 шагов</h2>
            <div class="quiz__row">
                <div id="stages" class="quiz__step">
                    <span>Шаг </span>
                    <span id="curent"></span>
                    <span>из</span>
                    <span id="count"></span>
                </div>
                <div class="quiz__progressbar" id="quizProgressbar">
                    <span></span>
                </div>
            </div>
            <div id="firstScreen" class="quizScreen">
                <span class="quiz__text">Выберите конфигурацию лестницы</span>
                <fieldset class="quiz__field">
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox11" name="check1" type="radio"
                            value="checkbox11">
                        <label class="quiz__checkbox-label" for="checkbox11">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q1.webp">
                                    <img loading="lazy" src="assets/images/q1.png" alt="">
                                </picture>
                            </span>
                            П-образная</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox12" name="check1" type="radio"
                            value="checkbox12">
                        <label class="quiz__checkbox-label" for="checkbox12">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q2.webp">
                                    <img loading="lazy" src="assets/images/q2.png" alt="">
                                </picture>
                            </span>
                            Г-образная</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox13" name="check1" type="radio"
                            value="checkbox13">
                        <label class="quiz__checkbox-label" for="checkbox13">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q3.webp">
                                    <img loading="lazy" src="assets/images/q3.png" alt="">
                                </picture>
                            </span>
                            Прямая</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox14" name="check1" type="radio"
                            value="checkbox14">
                        <label class="quiz__checkbox-label" for="checkbox14">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q3.webp">
                                    <img loading="lazy" src="assets/images/q3.png" alt="">
                                </picture>
                            </span>
                            Винтовая</label>
                    </div>
                </fieldset>
            </div>
            <div id="secondScreen" class="quizScreen">
                <span class="quiz__text">Выберите материал ступеней</span>
                <fieldset class="quiz__field">
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox21" name="check2" type="radio"
                            value="checkbox21">
                        <label class="quiz__checkbox-label" for="checkbox21">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q4.webp">
                                    <img loading="lazy" src="assets/images/q4.png" alt="">
                                </picture>
                            </span>
                            Дуб</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox22" name="check2" type="radio"
                            value="checkbox22">
                        <label class="quiz__checkbox-label" for="checkbox22">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q5.webp">
                                    <img loading="lazy" src="assets/images/q5.png" alt="">
                                </picture>
                            </span>
                            Ясень</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox23" name="check2" type="radio"
                            value="checkbox23">
                        <label class="quiz__checkbox-label" for="checkbox23">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q6.webp">
                                    <img loading="lazy" src="assets/images/q6.png" alt="">
                                </picture>
                            </span>
                            Сосна</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox24" name="check2" type="radio"
                            value="checkbox24">
                        <label class="quiz__checkbox-label" for="checkbox24">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q7.webp">
                                    <img loading="lazy" src="assets/images/q7.png" alt="">
                                </picture>
                            </span>
                            Стекло</label>
                    </div>
                </fieldset>
            </div>
            <div id="thirdScreen" class="quizScreen">
                <span class="quiz__text">Выберите конфигурацию лестницы</span>
                <fieldset class="quiz__field">
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox31" name="check3" type="radio"
                            value="checkbox31">
                        <label class="quiz__checkbox-label" for="checkbox31">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q8.webp">
                                    <img loading="lazy" src="assets/images/q8.png" alt="">
                                </picture>
                            </span>
                            Деревянная</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox32" name="check3" type="radio"
                            value="checkbox32">
                        <label class="quiz__checkbox-label" for="checkbox32">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q9.webp">
                                    <img loading="lazy" src="assets/images/q9.png" alt="">
                                </picture>
                            </span>
                            Из металла</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox33" name="check3" type="radio"
                            value="checkbox33">
                        <label class="quiz__checkbox-label" for="checkbox33">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q10.webp">
                                    <img loading="lazy" src="assets/images/q10.png" alt="">
                                </picture>
                            </span>
                            Комбинированная</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox34" name="check3" type="radio"
                            value="checkbox34">
                        <label class="quiz__checkbox-label" for="checkbox34">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q11.webp">
                                    <img loading="lazy" src="assets/images/q11.png" alt="">
                                </picture>
                            </span>
                            Комбинированная</label>
                    </div>
                </fieldset>
            </div>
            <div id="fourthScreen" class="quizScreen">
                <span class="quiz__text">Выберите конфигурацию лестницы</span>
                <fieldset class="quiz__field">
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox41" name="check4" type="radio"
                            value="checkbox41">
                        <label class="quiz__checkbox-label" for="checkbox41">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q12.webp">
                                    <img loading="lazy" src="assets/images/q12.png" alt="">
                                </picture>
                            </span>
                            Месяц</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox42" name="check4" type="radio"
                            value="checkbox42">
                        <label class="quiz__checkbox-label" for="checkbox42">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q13.webp">
                                    <img loading="lazy" src="assets/images/q13.png" alt="">
                                </picture>
                            </span>
                            Два месяца</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox43" name="check4" type="radio"
                            value="checkbox43">
                        <label class="quiz__checkbox-label" for="checkbox43">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q14.webp">
                                    <img loading="lazy" src="assets/images/q14.png" alt="">
                                </picture>
                            </span>
                            максимально быстро</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox44" name="check4" type="radio"
                            value="checkbox44">
                        <label class="quiz__checkbox-label" for="checkbox44">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q15.webp">
                                    <img loading="lazy" src="assets/images/q15.png" alt="">
                                </picture>
                            </span>
                            Сроки не важны</label>
                    </div>
                </fieldset>
            </div>
            <div id="fifthScreen" class="quizScreen">
                <span class="quiz__text">Выберите конфигурацию лестницы</span>
                <fieldset class="quiz__field">
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox51" name="check5" type="radio"
                            value="checkbox51">
                        <label class="quiz__checkbox-label" for="checkbox51">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q16.webp">
                                    <img loading="lazy" src="assets/images/q16.png" alt="">
                                </picture>
                            </span>
                            Телефон</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox52" name="check5" type="radio"
                            value="checkbox52">
                        <label class="quiz__checkbox-label" for="checkbox52">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q17.webp">
                                    <img loading="lazy" src="assets/images/q17.png" alt="">
                                </picture>
                            </span>
                            Мессенджер</label>
                    </div>
                    <div class="quiz__checkbox">
                        <input class="quiz__checkbox-input" id="checkbox53" name="check5" type="radio"
                            value="checkbox53">
                        <label class="quiz__checkbox-label" for="checkbox53">
                            <span class="quiz__img">
                                <picture>
                                    <source loading="lazy" srcset="assets/images/q18.webp">
                                    <img loading="lazy" src="assets/images/q18.png" alt="">
                                </picture>
                            </span>
                            Электронная почта</label>
                    </div>

                </fieldset>
            </div>
            <div id="sixthScreen" class="quizScreen">
                <!-- <input type="text" name="name" placeholder="Name">
                <input type="tel" name="tel" placeholder="Number">
                <input type="submit" id="quizsubmit"> -->
                @@include('../components/form.html')
            </div>

        </div>
        <div class="quiz__btn">
            <button id="idForPrevButton" class="btn secondary">Назад</button>
            <button id="idForNextButton" class="btn primary">Далее</button>
        </div>
    </div>
</form>