<div class="quiz">
    <div class="quiz__wrap">
        <h2 class="quiz-title">Ваша лестница в 5 шагов</h2>
        <div class="quiz__row">
            <div class="quiz__sidebar"></div>
        </div>
        <form action="" id="Quiz">
            <div id="stages">
                <span>Шаг </span>
                <span id="curent"></span>
                <span>из</span>
                <span id="count"></span>
            </div>
            <div id="firstScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input id="checkbox11" name="check1" type="radio" value="checkbox11">
                        <label for="checkbox11">check1.1</label>
                    </div>
                    <div>
                        <input id="checkbox12" name="check1" type="radio" value="checkbox12">
                        <label for="checkbox12">check1.2</label>
                    </div>
                    <div>
                        <input id="checkbox13" name="check1" type="radio" value="checkbox13">
                        <label for="checkbox13">check1.3</label>
                    </div>
                    <div>
                        <input id="checkbox14" name="check1" type="radio" value="checkbox14">
                        <label for="checkbox14">check1.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="secondScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input id="checkbox21" name="check2" type="radio" value="checkbox21">
                        <label for="checkbox21">check2.1</label>
                    </div>
                    <div>
                        <input id="checkbox22" name="check2" type="radio" value="checkbox22">
                        <label for="checkbox22">check2.2</label>
                    </div>
                    <div>
                        <input id="checkbox23" name="check2" type="radio" value="checkbox23">
                        <label for="checkbox23">check2.3</label>
                    </div>
                    <div>
                        <input id="checkbox24" name="check2" type="radio" value="checkbox24">
                        <label for="checkbox24">check2.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="thirdScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input id="checkbox31" name="check3" type="radio" value="checkbox31">
                        <label for="checkbox31">check3.1</label>
                    </div>
                    <div>
                        <input id="checkbox32" name="check3" type="radio" value="checkbox32">
                        <label for="checkbox32">check3.2</label>
                    </div>
                    <div>
                        <input id="checkbox33" name="check3" type="radio" value="checkbox33">
                        <label for="checkbox33">check3.3</label>
                    </div>
                    <div>
                        <input id="checkbox34" name="check3" type="radio" value="checkbox34">
                        <label for="checkbox34">check3.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="fourthScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input id="checkbox41" name="check4" type="radio" value="checkbox41">
                        <label for="checkbox41">check4.1</label>
                    </div>
                    <div>
                        <input id="checkbox42" name="check4" type="radio" value="checkbox42">
                        <label for="checkbox42">check4.2</label>
                    </div>
                    <div>
                        <input id="checkbox43" name="check4" type="radio" value="checkbox43">
                        <label for="checkbox43">check4.3</label>
                    </div>
                    <div>
                        <input id="checkbox44" name="check4" type="radio" value="checkbox44">
                        <label for="checkbox44">check4.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="fifthScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input id="checkbox51" name="check5" type="radio" value="checkbox51">
                        <label for="checkbox51">check5.1</label>
                    </div>
                    <div>
                        <input id="checkbox52" name="check5" type="radio" value="checkbox52">
                        <label for="checkbox52">check5.2</label>
                    </div>
                    <div>
                        <input id="checkbox53" name="check5" type="radio" value="checkbox53">
                        <label for="checkbox53">check5.3</label>
                    </div>
                    <div>
                        <input id="checkbox54" name="check5" type="radio" value="checkbox54">
                        <label for="checkbox54">check5.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="sixthScreen" class="quizScreen">
                <input type="text" name="name" placeholder="Name">
                <input type="tel" name="tel" placeholder="Number">
                <input type="submit" id="quizsubmit">
            </div>
            <div>
                <button id="idForPrevButton">prev</button>
                <button id="idForNextButton">next</button>
            </div>
        </form>
    </div>
</div>