<form action="" id="Quiz">
    <div class="quiz">
        <div class="quiz__wrap">
            <h2 class="quiz-title">Ваша лестница в 5 шагов</h2>
            <div class="quiz__row">
                <div id="stages" class="quiz__step">
                    <span>Шаг </span>
                    <span id="curent"></span>
                    <span>из</span>
                    <span id="count"></span>
                </div>
                <div class="quiz__progressbar" id="quizProgressbar">
                    <span></span>
                </div>
            </div>
            <span class="quiz__text">Выберите конфигурацию лестницы</span>
            <div id="firstScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox11" name="check1" type="radio"
                            value="checkbox11">
                        <label class="quiz__checkbox-label" for="checkbox11">check1.1</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox12" name="check1" type="radio"
                            value="checkbox12">
                        <label class="quiz__checkbox-label" for="checkbox12">check1.2</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox13" name="check1" type="radio"
                            value="checkbox13">
                        <label class="quiz__checkbox-label" for="checkbox13">check1.3</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox14" name="check1" type="radio"
                            value="checkbox14">
                        <label class="quiz__checkbox-label" for="checkbox14">check1.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="secondScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox21" name="check2" type="radio"
                            value="checkbox21">
                        <label class="quiz__checkbox-label" for="checkbox21">check2.1</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox22" name="check2" type="radio"
                            value="checkbox22">
                        <label class="quiz__checkbox-label" for="checkbox22">check2.2</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox23" name="check2" type="radio"
                            value="checkbox23">
                        <label class="quiz__checkbox-label" for="checkbox23">check2.3</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox24" name="check2" type="radio"
                            value="checkbox24">
                        <label class="quiz__checkbox-label" for="checkbox24">check2.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="thirdScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox31" name="check3" type="radio"
                            value="checkbox31">
                        <label class="quiz__checkbox-label" for="checkbox31">check3.1</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox32" name="check3" type="radio"
                            value="checkbox32">
                        <label class="quiz__checkbox-label" for="checkbox32">check3.2</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox33" name="check3" type="radio"
                            value="checkbox33">
                        <label class="quiz__checkbox-label" for="checkbox33">check3.3</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox34" name="check3" type="radio"
                            value="checkbox34">
                        <label class="quiz__checkbox-label" for="checkbox34">check3.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="fourthScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox41" name="check4" type="radio"
                            value="checkbox41">
                        <label class="quiz__checkbox-label" for="checkbox41">check4.1</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox42" name="check4" type="radio"
                            value="checkbox42">
                        <label class="quiz__checkbox-label" for="checkbox42">check4.2</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox43" name="check4" type="radio"
                            value="checkbox43">
                        <label class="quiz__checkbox-label" for="checkbox43">check4.3</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox44" name="check4" type="radio"
                            value="checkbox44">
                        <label class="quiz__checkbox-label" for="checkbox44">check4.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="fifthScreen" class="quizScreen">
                <fieldset>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox51" name="check5" type="radio"
                            value="checkbox51">
                        <label class="quiz__checkbox-label" for="checkbox51">check5.1</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox52" name="check5" type="radio"
                            value="checkbox52">
                        <label class="quiz__checkbox-label" for="checkbox52">check5.2</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox53" name="check5" type="radio"
                            value="checkbox53">
                        <label class="quiz__checkbox-label" for="checkbox53">check5.3</label>
                    </div>
                    <div>
                        <input class="quiz__checkbox-input" id="checkbox54" name="check5" type="radio"
                            value="checkbox54">
                        <label class="quiz__checkbox-label" for="checkbox54">check5.4</label>
                    </div>
                </fieldset>
            </div>
            <div id="sixthScreen" class="quizScreen">
                <input type="text" name="name" placeholder="Name">
                <input type="tel" name="tel" placeholder="Number">
                <input type="submit" id="quizsubmit">
            </div>
            <div>
                <button id="idForPrevButton">prev</button>
                <button id="idForNextButton">next</button>
            </div>
        </div>
    </div>
</form>