<div class="tabs js-tabs">
    <ul class="tabs__header ">
        <li data-tab="tab-one" class="tabs__btn active">Дерево</li>
        <li data-tab="tab-two" class="tabs__btn">Ковка</li>
        <li data-tab="tab-three" class="tabs__btn">Стекло</li>
        <li data-tab="tab-forth" class="tabs__btn">Нержавеющая сталь</li>

    </ul>

    <div class="tabs__content active" data-content="tab-one">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <img src="assets/images/1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <img src="assets/images/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tabs__content" data-content="tab-two">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <img src="assets/images/2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <img src="assets/images/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-three">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <img src="assets/images/1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <img src="assets/images/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-forth">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <img src="assets/images/2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <img src="assets/images/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>