<div class="tabs js-tabs">
    <ul class="tabs__header ">
        <li data-tab="tab-one" class="tabs__btn active">Дерево</li>
        <li data-tab="tab-two" class="tabs__btn">Ковка</li>
        <li data-tab="tab-three" class="tabs__btn">Стекло</li>
        <li data-tab="tab-forth" class="tabs__btn">Нержавеющая сталь</li>

    </ul>

    <div class="tabs__content active" data-content="tab-one">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <img src="assets/images/1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <img src="assets/images/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tabs__content" data-content="tab-two">
        <div data-slide="slideTwo" class=" slide slideTwo">
            <div class="slide-items">
                <img src="https://source.unsplash.com/V7IJzp_ElQc/1000x1500" alt="Img 1">
                <img src="https://source.unsplash.com/GJIc8O6sM5M/1000x1500" alt="Img 2">
                <img src="https://source.unsplash.com/VlMMBxSZuSI/1000x1500" alt="Img 3">
                <img src="https://source.unsplash.com/xWEHhKYqdlY/1000x1500" alt="Img 4">
            </div>
            <nav class="slide-nav">
                <div class="slide-thumb"></div>
                <button class="slide-prev">Prev</button>
                <button class="slide-next">Next</button>
            </nav>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-three">
        <div data-slide="slideThree" class=" slide slideThree">
            <div class="slide-items">
                <img src="https://source.unsplash.com/V7IJzp_ElQc/1000x1500" alt="Img 1">
                <img src="https://source.unsplash.com/GJIc8O6sM5M/1000x1500" alt="Img 2">
                <img src="https://source.unsplash.com/VlMMBxSZuSI/1000x1500" alt="Img 3">
                <img src="https://source.unsplash.com/xWEHhKYqdlY/1000x1500" alt="Img 4">
            </div>
            <nav class="slide-nav">
                <div class="slide-thumb"></div>
                <button class="slide-prev">Prev</button>
                <button class="slide-next">Next</button>
            </nav>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-forth">
        <div data-slide="slideForth" class="slide slideForth">
            <div class="slide-items">

                <img src="https://source.unsplash.com/GJIc8O6sM5M/1000x1500" alt="Img 2">
                <img src="https://source.unsplash.com/VlMMBxSZuSI/1000x1500" alt="Img 3">
                <img src="https://source.unsplash.com/xWEHhKYqdlY/1000x1500" alt="Img 4">
                <img src="https://source.unsplash.com/V7IJzp_ElQc/1000x1500" alt="Img 1">
            </div>
            <nav class="slide-nav">
                <div class="slide-thumb"></div>
                <button class="slide-prev">Prev</button>
                <button class="slide-next">Next</button>
            </nav>
        </div>
    </div>
</div>