<div class="tabs js-tabs">
    <ul class="tabs__header ">
        <li data-tab="tab-one" class="tabs__btn active">Дерево</li>
        <li data-tab="tab-two" class="tabs__btn">Ковка</li>
        <li data-tab="tab-three" class="tabs__btn">Стекло</li>
        <li data-tab="tab-forth" class="tabs__btn">Нержавеющая сталь</li>
        <li data-tab="tab-five" class="tabs__btn">Винтовые</li>
    </ul>

    <div class="tabs__content active" data-content="tab-one">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="one-popup">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/1.webp">
                            <img loading="lazy" src="../assets/images/wood/1.jpg" alt="">
                        </picture>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="two-popup">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/clover/1.webp">
                            <img loading="lazy" src="../assets/images/wood/clover/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="tabs-3">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/3/1.webp">
                            <img loading="lazy" src="../assets/images/wood/3/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="tabs-4">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/4/1.webp">
                            <img loading="lazy" src="../assets/images/wood/4/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="tabs-5">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/5/1.webp">
                            <img loading="lazy" src="../assets/images/wood/5/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="tabs-6">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/6/1.webp">
                            <img loading="lazy" src="../assets/images/wood/6/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="tabs-7">
                        <picture>
                            <source loading="lazy" srcset="../assets/images/wood/7/1.webp">
                            <img loading="lazy" src="../assets/images/wood/7/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-two">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="three-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/2.webp">
                            <img loading="lazy" src="assets/images/2.png" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="four-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/1.webp">
                            <img loading="lazy" src="assets/images/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-three">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="five-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/1.webp">
                            <img loading="lazy" src="assets/images/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="six-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/2.webp">
                            <img loading="lazy" src="assets/images/2.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-forth">
        <div class="swiper js-tab-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="seven-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/2.webp">
                            <img loading="lazy" src="assets/images/2.png" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="eight-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/1.webp">
                            <img loading="lazy" src="assets/images/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-five">
        <div class="swiper js-tab-sliderFive">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="nine-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/1.webp">
                            <img loading="lazy" src="assets/images/1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="types__img js-show-popup" data-trigger="ten-popup">
                        <picture>
                            <source loading="lazy" srcset="assets/images/2.webp">
                            <img loading="lazy" src="assets/images/2.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>