// Breakpoints
$breakpoints: (
  'phone-sm': 320px,
  'phone-md': 375px,
  'phone': 480px,
  'phone-lg': 576px, 
  'tablet': 768px,
  'tablet-lg': 992px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'widescreen-md': 1360px,
  'widescreen-lg': 1440px,
  'full-hd': 1920px,
);

// Colors
$black: #000000;
$white: #FFFFFF;
$border: #CCCCCC;
$success: #28A745;
$warning: #FFC117;
$error: #DC3545;
$bg-color:#F6F6F9;

// 
$base-color:#FA4A0C;
$secondary-color:#7B7B7D;
$bulet-color:#C4C4C4;
$production-color:#FF0000;
$FEB:#C62127;
$popup-bg:rgba(0, 0, 0, 0.3);
$form-label:#848484;
$name-color:#000080;
$star:#F7C70A;
$date:#999999;
$review-text:#333333;
$calculation:#51CB5F;
$question:#1FA0E1;


// Fonts
$primary-font: 'Open Sans';
$secondary-font: 'Inter';

// Other
$base-transition: all 0.3s ease;