.header {
  padding: 4rem 0;
  background: transparent;
  position: absolute;
  width: 100%;
  &__wrap {
    @extend %d-flex-center-between;
  }

  &.active {
    position: fixed;
    padding: 2rem 0;
    top: 0;
    width: 100%;
    z-index: 101;
    transition: $base-transition;
    background: linear-gradient(180deg, #c62127 0%, #ff490e 100%);

    .nav {
      top: 7rem;
    }
  }
}

.nav {
  margin: 0 auto;
  position: absolute;
  top: 8rem;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 1.6rem 1.6rem 1.6rem;
  background-image: linear-gradient(180deg, #c62127 0%, #ff490e 100%);
  z-index: 5;
  transition: $base-transition;
  transform: translateX(110%);
  overflow-y: auto;
  overflow-x: hidden;

  //   @include media(">=tablet") {
  //     position: static;
  //     background-color: $white;
  //     transform: translateX(0);
  //     padding: 0;
  //     width: auto;
  //   }

  &.active {
    transform: translateX(0);
  }

  &__list {
    font-size: 16px;
    line-height: 2;
    @extend %d-flex-column;
    align-items: flex-end;

    // @include media(">=tablet") {
    //   flex-direction: row;
    // }
  }

  &__item {
      width: 100%;
      text-align: right;
      border-radius: .5rem;
      padding: 1rem 1.5rem;
    & + & {
      margin-top: .5rem;
    }
    a {
      font-size: 1.3rem;
      font-weight: 400;
      color: $white;
    }
    &.active {
      background-color: $popup-bg;
    }
  }
}

.logo {
  position: relative;
  z-index: 6;

  a {
    width: 133px;
    height: 32px;
  }
}

.burger {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 6;
  @extend %d-flex-column;
  justify-content: center;
  align-items: flex-start;

  &.active {
    span {
      position: absolute;

      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  span {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: $white;
    transition: $base-transition;
    text-align: right;

    &:nth-child(1) {
      margin-bottom: 4px;
    }

    &:nth-child(2) {
        width: 56%;
      }

    &:nth-child(3) {
      margin-top: 4px;
    }
  }
}
