<header class="header ">
    <div class="container header__wrap">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.svg" alt="">
            </a>
        </div>
        <nav class="nav js-burger" id="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="">Виды наших лестниц</a></li>
                <li class="nav__item"><a href="">Видео обзор наших лестниц</a></li>
                <li class="nav__item"><a href="">Наше производство</a></li>
                <li class="nav__item"><a href="">Программное обеспечение</a></li>
                <li class="nav__item"><a href="">Лазерный 3D замер</a></li>
                <li class="nav__item"><a href="">Выкатные ящики и лестницный шкаф</a></li>
                <li class="nav__item"><a href="">нужен быстрый и точный проект?</a></li>
                <li class="nav__item"><a href="">Отзывы о нас на Яндекс</a></li>
                <li class="nav__item"><a href="">Фото наших работ</a></li>
                <li class="nav__item"><a href="">Контакты</a></li>
            </ul>
        </nav>
        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>