<header class="header ">
    <div class="container header__wrap">
        <div class="logo">
            <a href="index.html">
                <img loading="lazy" src="assets/images/logo.svg" alt="">
            </a>
        </div>
        <nav class="nav js-burger" id="nav">
            <ul class="nav__list">
                <li class="nav__item active"><a href="#type">Виды наших лестниц</a></li>
                <li class="nav__item"><a href="#video-section">Видео обзор наших лестниц</a></li>
                <li class="nav__item"><a href="#production-section">Наше производство</a></li>
                <li class="nav__item"><a href="#software-sections">Программное обеспечение</a></li>
                <li class="nav__item"><a href="#measurements-section">Лазерный 3D замер</a></li>
                <li class="nav__item"><a href="#withdrawable-section">Выкатные ящики и лестницный шкаф</a></li>
                <li class="nav__item"><a href="#masterscall-section">Нужен быстрый и точный проект?</a></li>
                <li class="nav__item"><a href="#reviews-section">Отзывы о нас на Яндекс</a></li>
                <li class="nav__item"><a href="#works-section">Фото наших работ</a></li>
                <li class="nav__item"><a href="#showroom-section">Контакты</a></li>
            </ul>
        </nav>
        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>